#Spareman formula

In [ ]:
a=[1,2,3,4,5]
b=[5,6,7,8,7]

# using lambda func to calculate rank

rank = lambda arr: list(map(lambda i: sorted(arr).index(i)+1, arr))
ranked_list_a=rank(a)
ranked_list_b=rank(b)
print(f'ranked A:{ranked_list_a}')
print(f'ranked A:{ranked_list_b}')

d=[]

zip_object = zip(ranked_list_a, ranked_list_b)
for list1_i, list2_i in zip_object:
    d.append(list2_i-list1_i)
print(f'difference d:: {d}')
d_square = [d ** 2 for d in d]
print(f'd square::{d_square}')
sum_of_d_sq=sum(d_square)
print(f'sum of d square::{sum_of_d_sq}')


n=len(ranked_list_b)
print(f'n:{n}')
n_Square=n*n
print(f'N_Square:{n_Square}')


form_part=(6*5)
part2=5*(25-1)
formula=1-(form_part/part2)
print(f'spareman correlation  {formula}')

ranked A:[1, 2, 3, 4, 5]
ranked A:[1, 2, 3, 5, 3]
difference d:: [0, 0, 0, 1, -2]
d square::[0, 0, 0, 1, 4]
sum of d square::5
n:5
N_Square:25
spareman correlation  0.75

#Mean Mode Median

In [ ]:
import numpy as np
l1=[5,6,7,8,np.nan,8,7,8,9,np.nan]
empt=[]

##MEAN

In [ ]:

def mean(lst):
  sum=0

  mylist = [str(x) for x in lst]
  newlist = [x for x in mylist if x != 'nan']
  for i in newlist:
    i=int(i)
    sum+=i
  avg=sum/len(newlist)
  mylist = [float(x) for x in mylist]
  for i in mylist:
    if i==float(i):
      empt.append(i)
    else:
      empt.append(avg)
  return empt

mean(l1)

[5.0, 6.0, 7.0, 8.0, 7.25, 8.0, 7.0, 8.0, 9.0, 7.25]

##Filling missing values using Median

In [ ]:
r = [1, 2, 3, np.nan,2,9,3,7,6,9,np.nan,6,4, 5,np.nan]
e=[]
def calc_median(l1):
  e.clear()
  n = len(l1)
  l1.sort() 

  
  my_list = [str(x) for x in l1]
  new_list = [x for x in my_list if x != 'nan']
  for i in new_list:
    i=int(i)
    if n % 2 == 0:
      median1 = l1[n//2]
      median2 = l1[n//2 - 1]
      median = (median1 + median2)/2
    else:
      median = l1[n//2]
  my_list = [float(x) for x in my_list]
  for i in my_list:
      if i==float(i):
        e.append(i)
      else:
        e.append(median)
  return e
  
    
  
print(f'calc_median(r){calc_median(r)}')

calc_median(r)[1.0, 2.0, 3.0, 5, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 7.0, 9.0, 9.0, 5, 5]

##Mode

In [ ]:
m = [1, 2, 3, np.nan,6,9,9,9,7,6,9,np.nan,6,4, 5,np.nan]
mode_list = [str(x) for x in m]
new_list = [x for x in mode_list if x != 'nan']
new_list

# The list for which you need to find
# the Mode
new_list
# First you sort it
# You will get numbers arranged from 3 to
# 11 in asc order
new_list.sort()

L1=[]


i = 0
while i < len(new_list) :
	L1.append(new_list.count(new_list[i]))
	i += 1

d1 = dict(zip(new_list, L1))

d2={k for (k,v) in d1.items() if v == max(L1) }

print("Mode(s) is/are :" + str(d2))


empty_mode=[]
m_list = [float(x) for x in m]
for i in m_list:
   if i==float(i):
      empty_mode.append(i)
   else:
      empty_mode.append(d2)

empty_mode

Mode(s) is/are :{'9'}

[1.0,
 2.0,
 3.0,
 {'9'},
 6.0,
 9.0,
 9.0,
 9.0,
 7.0,
 6.0,
 9.0,
 {'9'},
 6.0,
 4.0,
 5.0,
 {'9'}]

#Mean square error (MSE)  Root mean square(RMSE)
here  i used two functions one for calculating mean squared error (MSE) and the other one take square root of the values coming from the first function as a input to calculate root mean square error(RMSE)

In [ ]:
actual_price=[7775.0,10595.0,6669.0,25552.0,35056.0]
predicted_price =[8552.0,10244.2,6589.6,23493.6,23357.2]

##using user define function to calculate MSE

---

In [ ]:
def meanSquareError(actual, predicted):
	sum_error = 0.0
	for i in range(len(actual)):
		prediction_error = predicted[i] - actual[i]
		sum_error += (prediction_error ** 2)
	mean_square_error = sum_error / float(len(actual))
	return mean_square_error
mse=meanSquareError(actual_price,predicted_price)

print(f'mean squared error MSE:: {mse}')

mean squared error MSE:: 28366405.2

## Calculate RMSE taking root of MSE

In [ ]:
def root_mean_square_error(mse):
  e=mse**(1/2)
  return e
RMSE=root_mean_square_error(mse)
print(f'Root mean squared error MSE:: {RMSE}')

Root mean squared error MSE:: 5326.012129163808

##Using buillt in function to calculate **RMSE**

In [ ]:
!pip install ml_metrics

Requirement already satisfied: ml_metrics in /usr/local/lib/python3.7/dist-packages (0.1.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from ml_metrics) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ml_metrics) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ml_metrics) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->ml_metrics) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->ml_metrics) (1.15.0)

In [ ]:
from ml_metrics import rmse,mse
root_mse=rmse(actual_price, predicted_price)
mse_builtin=mse(actual_price,predicted_price)

In [ ]:
mse_builtin

28366405.2

In [ ]:
root_mse

5326.012129163808

#Pearson formula

In [ ]:
x = [1, 2, 3, 4, 5, 6]
y = [7, 8, 9, 16, 12, 11]



## xy
xy = []
for num1, num2 in zip(x, y):
    xy.append(num1 * num2)
print(xy)


def summation(series):
    total = 0
    for i in series:
        total+=i
    return total


def square(series):
  return [i ** 2 for i in series]


x_square=square(x)
y_square=square(y)


x_sum=print(summation(x))
y_sum=print(summation(y))


print(f'x*y:::{summation(xy)}')


print(f' x square summation  :: {summation(x_square)}')
print(f' y square summation  :: {summation(y_square)}')


mylist=[]

def difference(series):
    mylist.clear()
    sum=0
    
    num=len(series)

    for i in series:
        sum+=i
    avg=sum / num
    for i in series:
        r=i-avg
        mylist.append(r)

    return mylist
li=[]
def difference_y(series):
    mylist.clear()
    sum=0
    
    num=len(series)

    for i in series:
        sum+=i
    avg=sum / num
    for i in series:
        r=i-avg
        li.append(r)

    return li
y_b=difference_y(y)

xBar=difference(x)
xBar
products = []


for num1, num2 in zip(xBar, y_b):
	products.append(num1 * num2)
formula_part1=summation(products)
formula_part1

x_minus_x_bar_whl_sq_sum=summation(square(difference(x)))
y_minu_y_bar_whl_sq_sum=summation(square(difference(y)))
print(type(x_minus_x_bar_whl_sq_sum))


print(f'x_minus_x_bar whole square summatuion::{x_minus_x_bar_whl_sq_sum}')
print(f'y_minu_y_bar whole square summatuion::{y_minu_y_bar_whl_sq_sum}')

v =x_minus_x_bar_whl_sq_sum* y_minu_y_bar_whl_sq_sum

[7, 16, 27, 64, 60, 66]
21
63
x*y:::240
 x square summation  :: 91
 y square summation  :: 715
<class 'float'>
x_minus_x_bar whole square summatuion::17.5
y_minu_y_bar whole square summatuion::53.5

In [ ]:
formula_part_2=v**(1/2)
pearson_formula=formula_part1/formula_part_2
pearson_formula

0.6372923363962354

##Pearson formula using pandas library

In [ ]:
import pandas as pd

df=pd.DataFrame()
df['x']=[1, 2, 3, 4, 5, 6]
df['y']= [7, 8, 9, 16, 12, 11]
df.corr(method='pearson')

          x         y
x  1.000000  0.637292
y  0.637292  1.000000