In [1]:
import numpy as np
#import for the creating th€ nan €l€m€nts in th€ list

In [2]:
l1=[5,6,7,8,np.nan,8,7,8,9,np.nan]

In [3]:
l1

[5, 6, 7, 8, nan, 8, 7, 8, 9, nan]

# Apply m€an t€chinuqu€

In [4]:
empt=[]
def mean(lst):
  sum=0

  mylist = [str(x) for x in lst]
  newlist = [x for x in mylist if x != 'nan']
  for i in newlist:
    i=int(i)
    sum+=i
  avg=sum/len(newlist)
  mylist = [float(x) for x in mylist]
  for i in mylist:
    if i==float(i):
      empt.append(i)
    else:
      empt.append(avg)
  return empt

In [5]:
mean(l1)

[5.0, 6.0, 7.0, 8.0, 7.25, 8.0, 7.0, 8.0, 9.0, 7.25]

# Apply m€dian t€chinuq€

In [6]:
r = [1, 2, 3, np.nan,2,9,3,7,6,9,np.nan,6,4, 5,np.nan]
e=[]
def calc_median(l1):
  e.clear()
  n = len(l1)
  l1.sort() 

  
  my_list = [str(x) for x in l1]
  new_list = [x for x in my_list if x != 'nan']
  for i in new_list:
    i=int(i)
    if n % 2 == 0:
      median1 = l1[n//2]
      median2 = l1[n//2 - 1]
      median = (median1 + median2)/2
    else:
      median = l1[n//2]
  my_list = [float(x) for x in my_list]
  for i in my_list:
      if i==float(i):
        e.append(i)
      else:
        e.append(median)
  return e
  
    
  
print(f'calc_median(r){calc_median(r)}')

calc_median(r)[1.0, 2.0, 3.0, 5, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 7.0, 9.0, 9.0, 5, 5]

# Apply mod€ t€cniuqu€

In [7]:
m = [1, 2, 3, np.nan,6,9,9,9,7,6,9,np.nan,6,4, 5,np.nan]
mode_list = [str(x) for x in m]
new_list = [x for x in mode_list if x != 'nan']
new_list

['1', '2', '3', '6', '9', '9', '9', '7', '6', '9', '6', '4', '5']

In [8]:
# The list for which you need to find
# the Mode
new_list
# First you sort it
# You will get numbers arranged from 3 to
# 11 in asc order
new_list.sort()

L1=[]


i = 0
while i < len(new_list) :
	L1.append(new_list.count(new_list[i]))
	i += 1

d1 = dict(zip(new_list, L1))

d2={k for (k,v) in d1.items() if v == max(L1) }

print("Mode(s) is/are :" + str(d2))

Mode(s) is/are :{'9'}

In [9]:
empty_mode=[]
m_list = [float(x) for x in m]
for i in m_list:
   if i==float(i):
      empty_mode.append(i)
   else:
      empty_mode.append(d2)

empty_mode

[1.0,
 2.0,
 3.0,
 {'9'},
 6.0,
 9.0,
 9.0,
 9.0,
 7.0,
 6.0,
 9.0,
 {'9'},
 6.0,
 4.0,
 5.0,
 {'9'}]